In [58]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
data = pd.read_csv(r'C:\Users\jonim\Documents\GitHub\analysoinnin-perusteet\archive\ufo-sightings-transformed.csv')

In [59]:
print("Basic overview of the DataFrame.")
print("The first 10 rows of the Pandas DataFrame called data.")
data.head(10)

Basic overview of the DataFrame
The first 10 rows of the Pandas DataFrame called data

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...
5,5,1961-10-10 19:00:00,4/27/2007,1961,10,19,Autumn,USA,United States,Tennessee,Bristol,36.595000,-82.188889,Sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...
6,6,1965-10-10 21:00:00,2/14/2006,1965,10,21,Autumn,GBR,United Kingdom,Wales,Penarth,51.434722,-3.180000,Circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...
7,7,1965-10-10 23:45:00,10/2/1999,1965,10,23,Autumn,USA,United States,Connecticut,Norwalk,41.117500,-73.408333,Disk,1200.0,20 minutes,A bright orange color changing to reddish colo...
8,8,1966-10-10 20:00:00,3/19/2009,1966,10,20,Autumn,USA,United States,Alabama,Harrisburg,33.586111,-86.286111,Disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...
9,9,1966-10-10 21:00:00,5/11/2005,1966,10,21,Autumn,USA,United States,Florida,Live Oak,30.294722,-82.984167,Disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...

In [60]:
print("Rows and columns.")
#Return the number of rows only
#data.shape[0]

#Return the number of columns only
#data.shape[1]

#Return both rows and columns
data.shape

Rows and columns

(80328, 17)

In [61]:
print("Return the names of all columns.")
data.columns

Return the names of all columns

Index(['Unnamed: 0', 'Date_time', 'date_documented', 'Year', 'Month', 'Hour',
       'Season', 'Country_Code', 'Country', 'Region', 'Locale', 'latitude',
       'longitude', 'UFO_shape', 'length_of_encounter_seconds',
       'Encounter_Duration', 'Description'],
      dtype='object')

In [62]:
print("Summary of information like names,data types and missing values.")
data.info()
#Return data types
#data.dtypes

Summary of information like names,data types and missing values
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80328 entries, 0 to 80327
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   80328 non-null  int64
 1   Date_time                    80328 non-null  object
 2   date_documented              80328 non-null  object
 3   Year                         80328 non-null  int64
 4   Month                        80328 non-null  int64
 5   Hour                         80328 non-null  int64
 6   Season                       80328 non-null  object
 7   Country_Code                 80069 non-null  object
 8   Country                      80069 non-null  object
 9   Region                       79762 non-null  object
 10  Locale                       79871 non-null  object
 11  latitude                     80328 non-null  float64
 12  longitude                    80328 non-null  float64
 13  UFO_shape                    78398 non-null  object
 14  length_of_encounter_seconds  80328 non-null  float64
 15  Encounter_Duration           80328 non-null  object
 16  Description                  80313 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 10.4+ MB

In [63]:
print("Return the index labels that are used.")
data.index

Return the index labels that are used

RangeIndex(start=0, stop=80328, step=1)

In [66]:
#Lajittelu syntax
#data.sort_values(by, axis=0, ascending=True, inplace=False, ignore_index=False)
#data.sort_values(['date_documented'], ascending=[True])
#data.head(80328)

#Järjestele maat esitystä varten,ufo muodot vois olla myös. Vuodet myös mukaan.
#keskiarvot sille miten monta ufo havaintoa on tehty koko datan vuosien aikana keskimääräisesti
#millä todennäköisyyksillä se havainto on ollu minkä muotonen

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80323,80323,2013-09-09 21:15:00,9/30/2013,2013,9,21,Autumn,USA,United States,Tennessee,Nashville,36.165833,-86.784444,Light,600.0,10 minutes,Round from the distance/slowly changing colors...
80324,80324,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,Idaho,Boise,43.613611,-116.202500,Circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325,80325,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,California,Napa Abajo,38.297222,-122.284444,Other,1200.0,hour,Napa UFO&#44
80326,80326,2013-09-09 22:20:00,9/30/2013,2013,9,22,Autumn,USA,United States,Virginia,Vienna,38.901111,-77.265556,Circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...
80327,80327,2013-09-09 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,Oklahoma,Edmond,35.652778,-97.477778,Cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...

In [68]:
missing_count = data.isnull().sum()
print("Return of null values in different data types.")
print(missing_count)

Return of null values in different data types
Unnamed: 0                        0
Date_time                         0
date_documented                   0
Year                              0
Month                             0
Hour                              0
Season                            0
Country_Code                    259
Country                         259
Region                          566
Locale                          457
latitude                          0
longitude                         0
UFO_shape                      1930
length_of_encounter_seconds       0
Encounter_Duration                0
Description                      15
dtype: int64

In [70]:
total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)*100
print("Return the persentage of missing values.")
print(per_of_missing_data)

Return the persentage of missing values
0.25527689414576704

In [76]:
# Replace null values with 'Unknown'
print("Replace all null values with Unknown label")
data.fillna('Unknown', inplace=True)

Replace all null values with Unknown label

In [82]:
print("There are no duplicate values")
data.duplicated()
print("Let's make sure and drop all duplicate calues based on all columns")
data.drop_duplicates()

There are no duplicate values
Let's make sure and drop all duplicate calues based on all columns

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80323,80323,2013-09-09 21:15:00,9/30/2013,2013,9,21,Autumn,USA,United States,Tennessee,Nashville,36.165833,-86.784444,Light,600.0,10 minutes,Round from the distance/slowly changing colors...
80324,80324,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,Idaho,Boise,43.613611,-116.202500,Circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325,80325,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,California,Napa Abajo,38.297222,-122.284444,Other,1200.0,hour,Napa UFO&#44
80326,80326,2013-09-09 22:20:00,9/30/2013,2013,9,22,Autumn,USA,United States,Virginia,Vienna,38.901111,-77.265556,Circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...
80327,80327,2013-09-09 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,Oklahoma,Edmond,35.652778,-97.477778,Cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...

In [84]:
#print nominal columns
print("Our nominal columns are --> Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,Description.")
#print binary columns
print("There are no binary values in our data.")
#print ordinal columns
print("Our ordinal columns are --> Hour,Month,Year,Encounter_Duration.")

Our nominal columns are --> Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,Description.
There are no binary values in our data.
Our ordinal columns are --> Hour,Month,Year,Encounter_Duration.